<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: black;
            color: blue;
            
        }
    </style>
</head>
<body>
    <center>
        <h1>naruto uzumaki is the 7th hokage</h1>
        <h1>he is master in sage jutsu</h1>

        <a href="{%url 'jiraya' %}"><h1>jiraya sensei</h1></a>
        <a href="{% url 'anime:itachi' %}"><h1>itachi uchiha</h1></a>
        <a href="{% url 'anime:sasuke' %}"><h1>sasuke uchiha</h1></a>
        

    </center>
    
</body>
</html>